<div *ngIf="isOpen" id="modal-backdrop" class="fixed inset-0 z-50 flex items-center justify-center bg-black/50">
  <div id="modal" [class.showing]="isOpen" [class.closing]="isClosing"
    class="relative p-6 rounded-lg shadow-lg bg-customGray text-white w-[90%] max-w-lg transition-all ring-1 ring-inset ring-orange-400/20">
    <button (click)="closeModal()" class="absolute top-4 right-4 text-gray-300 hover:text-gray-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <h2 class="mb-4 text-lg font-semibold text-orange-500">Install Custom App</h2>

    <div class="space-y-4">
      <div>
        <label for="appId" class="block text-sm font-medium text-gray-300">App ID</label>
        <input id="appId" [(ngModel)]="appId" type="text" placeholder="com_twitch_official"
          class="block w-full px-3 py-2 mt-1 text-gray-200 rounded bg-customGray-light focus:ring focus:ring-orange-500 focus:outline-none" />
      </div>

      <div>
        <label for="appName" class="block text-sm font-medium text-gray-300">App Name</label>
        <input id="appName" [(ngModel)]="appName" type="text" placeholder="Twitch"
          class="block w-full px-3 py-2 mt-1 text-gray-200 rounded bg-customGray-light focus:ring focus:ring-orange-500 focus:outline-none" />
      </div>

      <div>
        <label for="thumbnail" class="block text-sm font-medium text-gray-300">Thumbnail URL</label>
        <input id="thumbnail" [(ngModel)]="thumbnail" type="text" placeholder="https://twitch.com/logo.png"
          class="block w-full px-3 py-2 mt-1 text-gray-200 rounded bg-customGray-light focus:ring focus:ring-orange-500 focus:outline-none" />
      </div>

      <div>
        <label for="appUrl" class="block text-sm font-medium text-gray-300">App URL</label>
        <input id="appUrl" [(ngModel)]="appUrl" type="text" placeholder="https://hisense.tv.twitch.tv/"
          class="block w-full px-3 py-2 mt-1 text-gray-200 rounded bg-customGray-light focus:ring focus:ring-orange-500 focus:outline-none" />
      </div>

      <p class="text-sm text-secondary">{{ statusMessage }}</p>
    </div>

    <div class="-mt-px flex divide-x divide-orange-400/20">
      <div class="flex w-0 flex-1 hover:ring-2 hover:ring-inset hover:ring-green-600/20">
        <button (click)="installApp()"
          class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="text-gray-400 h-5 w-5">
            <path d="m9 10 2 2 4-4" />
            <rect width="20" height="14" x="2" y="3" rx="2" />
            <path d="M12 17v4" />
            <path d="M8 21h8" />
          </svg>
          Install
        </button>
      </div>
      <div class="-ml-px flex w-0 flex-1 hover:ring-2 hover:ring-inset hover:ring-red-700/20">
        <button (click)="uninstallApp()"
          class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="text-gray-400 h-5 w-5">
          <path d="m14.5 12.5-5-5" />
          <path d="m9.5 12.5 5-5" />
          <rect width="20" height="14" x="2" y="3" rx="2" />
          <path d="M12 17v4" />
          <path d="M8 21h8" />
        </svg>
        Uninstall
        </button>
      </div>
    </div>
  </div>
</div>